In [1]:
import pyspark.sql.types as t
import pyspark.sql.functions as f
from pyspark import SparkConf
from pyspark.sql import SparkSession, Window

# **Table of Contents**

<div class="alert alert-block alert-info" style="margin-top: 20px">

1. [Dataset description](#1)
2. [Configuration of Spark](#2)
3. [Data loading](#3)
4. [Data preprocessing](#4)
5. [Transformation Stage](#5)
    - [Get the general information about dataset. (Such as Schema, Columns,
number of columns and rows etc.) Describe the dataset using this
information](#5.1)
    - [Get statistics about numerical columns. Describe the dataset using this
information. How could this be useful for further analysis?](#5.2)
    - [Come up with your own 6 or more business questions to the data](#5.3)
        - [How many ukrainian titles in akas dataframe?](#5.3.1)
        - [Get only those titles which contain 'Short' as genre](#5.3.2)
        - [Which Documentary title has the most numVotes?](#5.3.3)
        - [Which region is the most common?](#5.3.4)
        - [Get title with the highest average rating](#5.3.5)
        - [Get title with the highest number of episodes](#5.3.6)
        - [Get title of the top 1 TV Series based on the average user ratings and the number of votes they received?](#5.3.7)
        - [Get title of the top 1 TV Series with the most extended runtime per episode?](#5.3.8)
    
</div>

# **1. Dataset description** <a id='1'></a>

## **Dataset Description (IMDb dataset)**

Each dataset is contained in a gzipped, tab-separated-values (TSV) formatted file in the UTF-8 character set. The first line in each file contains headers that describe what is in each column. A ‘\N’ is used to denote that a particular field is missing or null for that title/name

### **Files**
* **name.basics.tsv** - 
* **title.akas.tsv** - 
* **title.basics.tsv** - 
* **title.crew.tsv** - 
* **title.episode.tsv** - 
* **title.principals.tsv** - 
* **title.ratings.tsv** - 

### **name.basics.tsv**

|      Name         |    Type          |   Description                                     |
| -------------     | ---------------- | ------------------------------------------------- |
|     nconst        |   string         | alphanumeric unique identifier of the name/person |
|   primaryName     | string           | name by which the person is most often credited   |
|     birthYear     | in YYYY format   | birth year                                        |
|     deathYear     | in YYYY format   | if applicable, else '\N'                          |
| primaryProfession | array of strings | the top-3 professions of the person               |
|   knownForTitles  | array of tconsts | titles the person is known for                    |

### **title.akas.tsv**

|      Name       |    Type   |   Description    |
| -------------   | --------- | ---------------- |
| titleId         | string    | a tconst, an alphanumeric unique identifier of the title |
| ordering        | integer   | a number to uniquely identify rows for a given titleId |
| title           | string    | the localized title |
| region          | string    | the region for this version of the title |
| language        | string    | the language of the title |
| types           | array     | Enumerated set of attributes for this alternative title. One or more of the following: "alternative", "dvd", "festival", "tv", "video", "working", "original", "imdbDisplay". New values may be added in the future without warning |
| attributes      | array     | Additional terms to describe this alternative title, not enumerated |
| isOriginalTitle | boolean   | 0: not original title; 1: original title |

### **title.basics.tsv**

|      Name      |    Type      |   Description   |
| -------------  | ------------ | ----------------|
| tconst         | string       | alphanumeric unique identifier of the title |
| titleType      | string       | the type/format of the title (e.g. movie, short, tvseries, tvepisode, video, etc) |
| primaryTitle   | string       | the more popular title / the title used by the filmmakers on promotional materials at the point of release |
| originalTitle  | string       | original title, in the original language |
| isAdult        | boolean      | 0: non-adult title; 1: adult title |
| startYear      | YYYY         | represents the release year of a title. In the case of TV Series, it is the series start year |
| endYear        | YYYY         | TV Series end year. ‘\N’ for all other title types |
| runtimeMinutes | integer      | primary runtime of the title, in minutes |
| genres         | string array | includes up to three genres associated with the title |

### **title.crew.tsv**

|      Name     |    Type          |   Description                               |
| ------------- | ---------------  | ------------------------------------------- |
| tconst        | string           | alphanumeric unique identifier of the title |
| directors     | array of nconsts | director(s) of the given title              |
| writers       | array of nconsts | writer(s) of the given title                |

### **title.episode.tsv**

|      Name     |    Type   |   Description                                   |
| ------------- | --------- | ----------------------------------------------- |
| tconst        | string    | alphanumeric identifier of episode              |
| parentTconst  | string    | alphanumeric identifier of the parent TV Series |
| seasonNumber  | integer   | season number the episode belongs to            |
| episodeNumber | integer   | episode number of the tconst in the TV series   |

### **title.principals.tsv**

|      Name     |    Type   |   Description                                             |
| ------------- | --------- | --------------------------------------------------------- |
| tconst        | string    | alphanumeric unique identifier of the title               |
| ordering      | integer   | a number to uniquely identify rows for a given titleId    |
| nconst        | string    | alphanumeric unique identifier of the name/person         |
| category      | string    | the category of job that person was in                    |
| job           | string    | the specific job title if applicable, else '\N'           |
| characters    | string    | the name of the character played if applicable, else '\N' |

### **title.ratings.tsv**

|      Name     |    Type   |   Description                                        |
| ------------- | --------- | ---------------------------------------------------- |
| tconst        | string    | alphanumeric unique identifier of the title          |
| averageRating | float     | weighted average of all the individual user ratings  |
| numVotes      |  integer  | number of votes the title has received               |

# **2. Configuration of Spark** <a id='2'></a>

In [2]:
path = 'C:/files/grid-dynamics'

In [3]:
spark_session = (
    SparkSession.builder
        .master('local')
        .appName('project')
        .config(conf=SparkConf())
        .getOrCreate()
)

spark_session.conf.set('spark.sql.repl.eagerEval.enabled', True)

Defining the schemas

In [4]:
name_basics_schema = t.StructType([
    t.StructField('nconst', t.StringType(), True),
    t.StructField('primaryName', t.StringType(), True),
    t.StructField('birthYear', t.DateType(), True),
    t.StructField('deathYear', t.DateType(), True),
    t.StructField('primaryProfession', t.StringType(), True),
    t.StructField('knownForTitles', t.StringType(), True)
])

akas_schema = t.StructType([
    t.StructField('titleId', t.StringType(), True),
    t.StructField('ordering', t.IntegerType(), True),
    t.StructField('title', t.StringType(), True),
    t.StructField('region', t.StringType(), True),
    t.StructField('language', t.StringType(), True),
    t.StructField('types', t.StringType(), True),
    t.StructField('attributes', t.StringType(), True),
    t.StructField('isOriginalTitle', t.BooleanType(), True)
])

title_basics_schema = t.StructType([
    t.StructField('tconst', t.StringType(), True),
    t.StructField('titleType', t.StringType(), True),
    t.StructField('primaryTitle', t.StringType(), True),
    t.StructField('originalTitle', t.StringType(), True),
    t.StructField('isAdult', t.BooleanType(), True),
    t.StructField('startYear', t.DateType(), True),
    t.StructField('endYear', t.DateType(), True),
    t.StructField('runtimeMinutes', t.IntegerType(), True),
    t.StructField('genres', t.StringType(), True),
])

crew_schema = t.StructType([
    t.StructField('tconst', t.StringType(), True),
    t.StructField('directors', t.StringType(), True),
    t.StructField('writers', t.StringType(), True),
])

episode_schema = t.StructType([
    t.StructField('tconst', t.StringType(), True),
    t.StructField('parentTconst', t.StringType(), True),
    t.StructField('seasonNumber', t.IntegerType(), True),
    t.StructField('episodeNumber', t.IntegerType(), True),
])

principals_schema = t.StructType([
    t.StructField('tconst', t.StringType(), True),
    t.StructField('ordering', t.IntegerType(), True),
    t.StructField('nconst', t.StringType(), True),
    t.StructField('category', t.StringType(), True),
    t.StructField('job', t.StringType(), True),
    t.StructField('characters', t.StringType(), True)
])

ratings_schema = t.StructType([
    t.StructField('tconst', t.StringType(), True),
    t.StructField('averageRating', t.FloatType(), True),
    t.StructField('numVotes', t.IntegerType(), True)
])

# **3. Data loading** <a id='3'></a>

Reading the dataset

In [5]:
name_basics = spark_session.read.csv(f'{path}/name.basics.tsv', 
                                    sep=r'\t', 
                                    header=True,
                                    nullValue='null',
                                    schema=name_basics_schema,
                                    dateFormat='yyyy')

akas = spark_session.read.csv(f'{path}/title.akas.tsv', 
                                    sep=r'\t', 
                                    header=True,
                                    nullValue='null',
                                    schema=akas_schema)

title_basics = spark_session.read.csv(f'{path}/title.basics.tsv', 
                                    sep=r'\t', 
                                    header=True,
                                    nullValue='null',
                                    schema=title_basics_schema,
                                    dateFormat='yyyy')

crew = spark_session.read.csv(f'{path}/title.crew.tsv', 
                                    sep=r'\t', 
                                    header=True,
                                    nullValue='null',
                                    schema=crew_schema)

episode = spark_session.read.csv(f'{path}/title.episode.tsv', 
                                    sep=r'\t', 
                                    header=True,
                                    nullValue='null',
                                    schema=episode_schema)

principals = spark_session.read.csv(f'{path}/title.principals.tsv', 
                                    sep=r'\t', 
                                    header=True,
                                    nullValue='null',
                                    schema=principals_schema)

ratings = spark_session.read.csv(f'{path}/title.ratings.tsv', 
                                    sep=r'\t', 
                                    header=True,
                                    nullValue='null',
                                    schema=ratings_schema)

# **4. Data preprocessing** <a id='4'></a>

Replacing '\N' with null value

In [6]:
name_basics = name_basics.withColumn('primaryProfession', f.when(f.col('primaryProfession') == r'\N', None).otherwise(f.col('primaryProfession')))
name_basics = name_basics.withColumn('knownForTitles', f.when(f.col('knownForTitles') == r'\N', None).otherwise(f.col('knownForTitles')))

title_basics = title_basics.withColumn('genres', f.when(f.col('genres') == r'\N', None).otherwise(f.col('genres')))

crew = crew.withColumn('writers', f.when(f.col('writers') == r'\N', None).otherwise(f.col('writers')))
crew = crew.withColumn('directors', f.when(f.col('directors') == r'\N', None).otherwise(f.col('directors')))

principals = principals.withColumn('job', f.when(f.col('job') == r'\N', None).otherwise(f.col('job')))
principals = principals.withColumn('characters', f.when(f.col('characters') == r'\N', None).otherwise(f.col('characters')))

akas = akas.withColumn('region', f.when(f.col('region') == r'\N', None).otherwise(f.col('region')))
akas = akas.withColumn('language', f.when(f.col('language') == r'\N', None).otherwise(f.col('language')))
akas = akas.withColumn('types', f.when(f.col('types') == r'\N', None).otherwise(f.col('types')))
akas = akas.withColumn('attributes', f.when(f.col('attributes') == r'\N', None).otherwise(f.col('attributes')))

Converting strings to array of strings

In [7]:
name_basics = name_basics.withColumn('primaryProfession', f.split('primaryProfession', ','))
name_basics = name_basics.withColumn('knownForTitles', f.split('knownForTitles', ','))

title_basics = title_basics.withColumn('genres', f.split('genres', ','))

crew = crew.withColumn('directors', f.split('directors', ','))
crew = crew.withColumn('writers', f.split('writers', ','))

Removing unnecessary symbols

In [8]:
principals = principals.withColumn('characters', f.regexp_replace('characters', r'[\[\]"]', ''))

# **5. Transformation Stage** <a id='5'></a>

## **1. Get the general information about dataset. (Such as Schema, Columns, number of columns and rows etc.) Describe the dataset using this information** <a id='5.1'></a>

In [9]:
datasets = [(name_basics, 'name_basics'), (akas, 'akas'), (title_basics, 'title_basics'), (crew, 'crew'), 
            (episode, 'episode'), (principals, 'principals'), (ratings, 'ratings')]

In [10]:
print('Schemas\n')

for dataset, name in datasets:
    print(f'Dataset: {name}')
    print(dataset.printSchema())

Schemas

Dataset: name_basics
root
 |-- nconst: string (nullable = true)
 |-- primaryName: string (nullable = true)
 |-- birthYear: date (nullable = true)
 |-- deathYear: date (nullable = true)
 |-- primaryProfession: array (nullable = true)
 |    |-- element: string (containsNull = false)
 |-- knownForTitles: array (nullable = true)
 |    |-- element: string (containsNull = false)

None
Dataset: akas
root
 |-- titleId: string (nullable = true)
 |-- ordering: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- region: string (nullable = true)
 |-- language: string (nullable = true)
 |-- types: string (nullable = true)
 |-- attributes: string (nullable = true)
 |-- isOriginalTitle: boolean (nullable = true)

None
Dataset: title_basics
root
 |-- tconst: string (nullable = true)
 |-- titleType: string (nullable = true)
 |-- primaryTitle: string (nullable = true)
 |-- originalTitle: string (nullable = true)
 |-- isAdult: boolean (nullable = true)
 |-- startYear: date (nullable = true)
 |-- endYear: date (nullable = true)
 |-- runtimeMinutes: integer (nullable = true)
 |-- genres: array (nullable = true)
 |    |-- element: string (containsNull = false)

None
Dataset: crew
root
 |-- tconst: string (nullable = true)
 |-- directors: array (nullable = true)
 |    |-- element: string (containsNull = false)
 |-- writers: array (nullable = true)
 |    |-- element: string (containsNull = false)

None
Dataset: episode
root
 |-- tconst: string (nullable = true)
 |-- parentTconst: string (nullable = true)
 |-- seasonNumber: integer (nullable = true)
 |-- episodeNumber: integer (nullable = true)

None
Dataset: principals
root
 |-- tconst: string (nullable = true)
 |-- ordering: integer (nullable = true)
 |-- nconst: string (nullable = true)
 |-- category: string (nullable = true)
 |-- job: string (nullable = true)
 |-- characters: string (nullable = true)

None
Dataset: ratings
root
 |-- tconst: string (nullable = true)
 |-- averageRating: float (nullable = true)
 |-- numVotes: integer (nullable = true)

None

In [11]:
print('Columns\n')

for dataset, name in datasets:
    print(f'Dataset: {name}: {dataset.columns}, number of columns: {len(dataset.columns)}, number of rows: {dataset.count()}\n')

Columns

Dataset: name_basics: ['nconst', 'primaryName', 'birthYear', 'deathYear', 'primaryProfession', 'knownForTitles'], number of columns: 6, number of rows: 12698644

Dataset: akas: ['titleId', 'ordering', 'title', 'region', 'language', 'types', 'attributes', 'isOriginalTitle'], number of columns: 8, number of rows: 36642385

Dataset: title_basics: ['tconst', 'titleType', 'primaryTitle', 'originalTitle', 'isAdult', 'startYear', 'endYear', 'runtimeMinutes', 'genres'], number of columns: 9, number of rows: 10017011

Dataset: crew: ['tconst', 'directors', 'writers'], number of columns: 3, number of rows: 10019208

Dataset: episode: ['tconst', 'parentTconst', 'seasonNumber', 'episodeNumber'], number of columns: 4, number of rows: 7620834

Dataset: principals: ['tconst', 'ordering', 'nconst', 'category', 'job', 'characters'], number of columns: 6, number of rows: 57243863

Dataset: ratings: ['tconst', 'averageRating', 'numVotes'], number of columns: 3, number of rows: 1331252

## **2. Get statistics about numerical columns. Describe the dataset using this information. How could this be useful for further analysis?** <a id='5.2'></a>

In [12]:
akas.describe(['ordering'])

+-------+------------------+
|summary|          ordering|
+-------+------------------+
|  count|          36642385|
|   mean|4.1506784015287215|
| stddev| 3.939129056143955|
|    min|                 1|
|    max|               249|
+-------+------------------+

In [13]:
title_basics.describe(['runtimeMinutes'])

+-------+------------------+
|summary|    runtimeMinutes|
+-------+------------------+
|  count|           2970701|
|   mean|43.505853332260635|
| stddev| 81.48975978468617|
|    min|                 0|
|    max|             59460|
+-------+------------------+

In [14]:
episode.describe(['seasonNumber', 'episodeNumber'])

+-------+------------------+------------------+
|summary|      seasonNumber|     episodeNumber|
+-------+------------------+------------------+
|  count|           6057523|           6057523|
|   mean|3.7390189026108525| 402.8005742611295|
| stddev|24.441675637575482|1306.4123181308778|
|    min|                 1|                 0|
|    max|              2021|             97251|
+-------+------------------+------------------+

In [15]:
principals.describe(['ordering'])

+-------+------------------+
|summary|          ordering|
+-------+------------------+
|  count|          57243863|
|   mean| 4.610154489399152|
| stddev|2.7856930662973065|
|    min|                 1|
|    max|                10|
+-------+------------------+

In [16]:
ratings.describe(['averageRating', 'numVotes'])

+-------+------------------+------------------+
|summary|     averageRating|          numVotes|
+-------+------------------+------------------+
|  count|           1331252|           1331252|
|   mean| 6.955515265382489| 1038.735545937208|
| stddev|1.3822064108967602|17489.990386451816|
|    min|               1.0|                 5|
|    max|              10.0|           2767112|
+-------+------------------+------------------+

## **3. Come up with your own 6 or more business questions to the data** <a id='5.3'></a>

In [17]:
for dataset, name in datasets:
    print(f'Dataset: {name}')
    print(dataset.show())

Dataset: name_basics
+---------+-------------------+----------+----------+--------------------+--------------------+
|   nconst|        primaryName| birthYear| deathYear|   primaryProfession|      knownForTitles|
+---------+-------------------+----------+----------+--------------------+--------------------+
|nm0000001|       Fred Astaire|1899-01-01|1987-01-01|[soundtrack, acto...|[tt0053137, tt007...|
|nm0000002|      Lauren Bacall|1924-01-01|2014-01-01|[actress, soundtr...|[tt0117057, tt007...|
|nm0000003|    Brigitte Bardot|1934-01-01|      null|[actress, soundtr...|[tt0054452, tt004...|
|nm0000004|       John Belushi|1949-01-01|1982-01-01|[actor, soundtrac...|[tt0078723, tt008...|
|nm0000005|     Ingmar Bergman|1918-01-01|2007-01-01|[writer, director...|[tt0069467, tt005...|
|nm0000006|     Ingrid Bergman|1915-01-01|1982-01-01|[actress, soundtr...|[tt0034583, tt003...|
|nm0000007|    Humphrey Bogart|1899-01-01|1957-01-01|[actor, soundtrac...|[tt0037382, tt004...|
|nm0000008|      Marlon Brando|1924-01-01|2004-01-01|[actor, soundtrac...|[tt0078788, tt007...|
|nm0000009|     Richard Burton|1925-01-01|1984-01-01|[actor, soundtrac...|[tt0059749, tt008...|
|nm0000010|       James Cagney|1899-01-01|1986-01-01|[actor, soundtrac...|[tt0035575, tt003...|
|nm0000011|        Gary Cooper|1901-01-01|1961-01-01|[actor, soundtrac...|[tt0044706, tt002...|
|nm0000012|        Bette Davis|1908-01-01|1989-01-01|[actress, soundtr...|[tt0035140, tt004...|
|nm0000013|          Doris Day|1922-01-01|2019-01-01|[soundtrack, actr...|[tt0045591, tt004...|
|nm0000014|Olivia de Havilland|1916-01-01|2020-01-01|[actress, soundtr...|[tt0041452, tt004...|
|nm0000015|         James Dean|1931-01-01|1955-01-01|[actor, miscellan...|[tt0048028, tt012...|
|nm0000016|    Georges Delerue|1925-01-01|1992-01-01|[composer, soundt...|[tt8847712, tt009...|
|nm0000017|   Marlene Dietrich|1901-01-01|1992-01-01|[soundtrack, actr...|[tt0021156, tt005...|
|nm0000018|       Kirk Douglas|1916-01-01|2020-01-01|[actor, producer,...|[tt0043465, tt005...|
|nm0000019|   Federico Fellini|1920-01-01|1993-01-01|[writer, director...|[tt0050783, tt007...|
|nm0000020|        Henry Fonda|1905-01-01|1982-01-01|[actor, producer,...|[tt0032551, tt008...|
+---------+-------------------+----------+----------+--------------------+--------------------+
only showing top 20 rows

None
Dataset: akas
+---------+--------+--------------------+------+--------+-----------+--------------------+---------------+
|  titleId|ordering|               title|region|language|      types|          attributes|isOriginalTitle|
+---------+--------+--------------------+------+--------+-----------+--------------------+---------------+
|tt0000001|       1|          Карменсіта|    UA|    null|imdbDisplay|                null|           null|
|tt0000001|       2|          Carmencita|    DE|    null|       null|       literal title|           null|
|tt0000001|       3|Carmencita - span...|    HU|    null|imdbDisplay|                null|           null|
|tt0000001|       4|          Καρμενσίτα|    GR|    null|imdbDisplay|                null|           null|
|tt0000001|       5|          Карменсита|    RU|    null|imdbDisplay|                null|           null|
|tt0000001|       6|          Carmencita|    US|    null|imdbDisplay|                null|           null|
|tt0000001|       7|          Carmencita|  null|    null|   original|                null|           null|
|tt0000001|       8|      カルメンチータ|    JP|      ja|imdbDisplay|                null|           null|
|tt0000002|       1|Le clown et ses c...|  null|    null|   original|                null|           null|
|tt0000002|       2|Le clown et ses c...|    FR|    null|imdbDisplay|                null|           null|
|tt0000002|       3|   A bohóc és kutyái|    HU|    null|imdbDisplay|                null|           null|
|tt0000002|       4|Der Clown und sei...|    DE|    null|       null|       literal title|           null|
|tt0000002|       5|Clovnul si cainii...|    RO|    null|imdbDisplay|                null|           null|
|tt0000002|       6|  Клоун и его собаки|    RU|    null|imdbDisplay|                null|           null|
|tt0000002|       7|The Clown and His...|    US|    null|       null|literal English t...|           null|
|tt0000002|       8|          道化師と犬|    JP|      ja|imdbDisplay|                null|           null|
|tt0000003|       1|    Sarmanul Pierrot|    RO|    null|imdbDisplay|                null|           null|
|tt0000003|       2|     Szegény Pierrot|    HU|    null|imdbDisplay|                null|           null|
|tt0000003|       3|        哀れなピエロ|    JP|      ja|imdbDisplay|                null|           null|
|tt0000003|       4|        Бідний П'єро|    UA|    null|imdbDisplay|                null|           null|
+---------+--------+--------------------+------+--------+-----------+--------------------+---------------+
only showing top 20 rows

None
Dataset: title_basics
+---------+---------+--------------------+--------------------+-------+----------+-------+--------------+--------------------+
|   tconst|titleType|        primaryTitle|       originalTitle|isAdult| startYear|endYear|runtimeMinutes|              genres|
+---------+---------+--------------------+--------------------+-------+----------+-------+--------------+--------------------+
|tt0000001|    short|          Carmencita|          Carmencita|   null|1894-01-01|   null|             1|[Documentary, Short]|
|tt0000002|    short|Le clown et ses c...|Le clown et ses c...|   null|1892-01-01|   null|             5|  [Animation, Short]|
|tt0000003|    short|      Pauvre Pierrot|      Pauvre Pierrot|   null|1892-01-01|   null|             4|[Animation, Comed...|
|tt0000004|    short|         Un bon bock|         Un bon bock|   null|1892-01-01|   null|            12|  [Animation, Short]|
|tt0000005|    short|    Blacksmith Scene|    Blacksmith Scene|   null|1893-01-01|   null|             1|     [Comedy, Short]|
|tt0000006|    short|   Chinese Opium Den|   Chinese Opium Den|   null|1894-01-01|   null|             1|             [Short]|
|tt0000007|    short|Corbett and Court...|Corbett and Court...|   null|1894-01-01|   null|             1|      [Short, Sport]|
|tt0000008|    short|Edison Kinetoscop...|Edison Kinetoscop...|   null|1894-01-01|   null|             1|[Documentary, Short]|
|tt0000009|    movie|          Miss Jerry|          Miss Jerry|   null|1894-01-01|   null|            45|           [Romance]|
|tt0000010|    short| Leaving the Factory|La sortie de l'us...|   null|1895-01-01|   null|             1|[Documentary, Short]|
|tt0000011|    short|Akrobatisches Pot...|Akrobatisches Pot...|   null|1895-01-01|   null|             1|[Documentary, Short]|
|tt0000012|    short|The Arrival of a ...|L'arrivée d'un tr...|   null|1896-01-01|   null|             1|[Documentary, Short]|
|tt0000013|    short|The Photographica...|Le débarquement d...|   null|1895-01-01|   null|             1|[Documentary, Short]|
|tt0000014|    short| The Waterer Watered|   L'arroseur arrosé|   null|1895-01-01|   null|             1|     [Comedy, Short]|
|tt0000015|    short| Autour d'une cabine| Autour d'une cabine|   null|1894-01-01|   null|             2|  [Animation, Short]|
|tt0000016|    short|Boat Leaving the ...|Barque sortant du...|   null|1895-01-01|   null|             1|[Documentary, Short]|
|tt0000017|    short|Italienischer Bau...|Italienischer Bau...|   null|1895-01-01|   null|             1|[Documentary, Short]|
|tt0000018|    short|Das boxende Känguruh|Das boxende Känguruh|   null|1895-01-01|   null|             1|             [Short]|
|tt0000019|    short|    The Clown Barber|    The Clown Barber|   null|1898-01-01|   null|          null|     [Comedy, Short]|
|tt0000020|    short|      The Derby 1895|      The Derby 1895|   null|1895-01-01|   null|             1|[Documentary, Sho...|
+---------+---------+--------------------+--------------------+-------+----------+-------+--------------+--------------------+
only showing top 20 rows

None
Dataset: crew
+---------+--------------------+-----------+
|   tconst|           directors|    writers|
+---------+--------------------+-----------+
|tt0000001|         [nm0005690]|       null|
|tt0000002|         [nm0721526]|       null|
|tt0000003|         [nm0721526]|       null|
|tt0000004|         [nm0721526]|       null|
|tt0000005|         [nm0005690]|       null|
|tt0000006|         [nm0005690]|       null|
|tt0000007|[nm0005690, nm037...|       null|
|tt0000008|         [nm0005690]|       null|
|tt0000009|         [nm0085156]|[nm0085156]|
|tt0000010|         [nm0525910]|       null|
|tt0000011|         [nm0804434]|       null|
|tt0000012|[nm0525908, nm052...|       null|
|tt0000013|         [nm0525910]|       null|
|tt0000014|         [nm0525910]|       null|
|tt0000015|         [nm0721526]|       null|
|tt0000016|         [nm0525910]|       null|
|tt0000017|[nm1587194, nm080...|       null|
|tt0000018|         [nm0804434]|       null|
|tt0000019|         [nm0932055]|       null|
|tt0000020|         [nm0010291]|       null|
+---------+--------------------+-----------+
only showing top 20 rows

None
Dataset: episode
+---------+------------+------------+-------------+
|   tconst|parentTconst|seasonNumber|episodeNumber|
+---------+------------+------------+-------------+
|tt0041951|   tt0041038|           1|            9|
|tt0042816|   tt0989125|           1|           17|
|tt0042889|   tt0989125|        null|         null|
|tt0043426|   tt0040051|           3|           42|
|tt0043631|   tt0989125|           2|           16|
|tt0043693|   tt0989125|           2|            8|
|tt0043710|   tt0989125|           3|            3|
|tt0044093|   tt0959862|           1|            6|
|tt0044668|   tt0044243|           2|           16|
|tt0044901|   tt0989125|           3|           46|
|tt0045519|   tt0989125|           4|           11|
|tt0045960|   tt0044284|           2|            3|
|tt0046135|   tt0989125|           4|            5|
|tt0046150|   tt0341798|        null|         null|
|tt0046855|   tt0046643|           1|            4|
|tt0046864|   tt0989125|           5|           20|
|tt0047810|   tt0914702|           3|           36|
|tt0047852|   tt0047745|           1|           15|
|tt0047858|   tt0046637|           2|            9|
|tt0047961|   tt0989125|           6|            5|
+---------+------------+------------+-------------+
only showing top 20 rows

None
Dataset: principals
+---------+--------+---------+---------------+--------------------+----------+
|   tconst|ordering|   nconst|       category|                 job|characters|
+---------+--------+---------+---------------+--------------------+----------+
|tt0000001|       1|nm1588970|           self|                null|      Self|
|tt0000001|       2|nm0005690|       director|                null|      null|
|tt0000001|       3|nm0374658|cinematographer|director of photo...|      null|
|tt0000002|       1|nm0721526|       director|                null|      null|
|tt0000002|       2|nm1335271|       composer|                null|      null|
|tt0000003|       1|nm0721526|       director|                null|      null|
|tt0000003|       2|nm1770680|       producer|            producer|      null|
|tt0000003|       3|nm1335271|       composer|                null|      null|
|tt0000003|       4|nm5442200|         editor|                null|      null|
|tt0000004|       1|nm0721526|       director|                null|      null|
|tt0000004|       2|nm1335271|       composer|                null|      null|
|tt0000005|       1|nm0443482|          actor|                null|Blacksmith|
|tt0000005|       2|nm0653042|          actor|                null| Assistant|
|tt0000005|       3|nm0005690|       director|                null|      null|
|tt0000005|       4|nm0249379|       producer|            producer|      null|
|tt0000006|       1|nm0005690|       director|                null|      null|
|tt0000007|       1|nm0179163|          actor|                null|      null|
|tt0000007|       2|nm0183947|          actor|                null|      null|
|tt0000007|       3|nm0005690|       director|                null|      null|
|tt0000007|       4|nm0374658|       director|                null|      null|
+---------+--------+---------+---------------+--------------------+----------+
only showing top 20 rows

None
Dataset: ratings
+---------+-------------+--------+
|   tconst|averageRating|numVotes|
+---------+-------------+--------+
|tt0000001|          5.7|    1987|
|tt0000002|          5.8|     265|
|tt0000003|          6.5|    1849|
|tt0000004|          5.5|     178|
|tt0000005|          6.2|    2632|
|tt0000006|          5.1|     182|
|tt0000007|          5.4|     825|
|tt0000008|          5.4|    2124|
|tt0000009|          5.3|     206|
|tt0000010|          6.9|    7220|
|tt0000011|          5.3|     370|
|tt0000012|          7.4|   12351|
|tt0000013|          5.7|    1896|
|tt0000014|          7.1|    5556|
|tt0000015|          6.2|    1097|
|tt0000016|          5.9|    1519|
|tt0000017|          4.6|     330|
|tt0000018|          5.3|     598|
|tt0000019|          4.8|      32|
|tt0000020|          4.8|     365|
+---------+-------------+--------+
only showing top 20 rows

None

How many ukrainian titles in akas dataframe? <a id='5.3.1'></a>

In [18]:
akas.filter(akas.region == 'UA').count()

27365

Get only first 5 those titles which contain 'Short' as genre <a id='5.3.2'></a>

In [19]:
title_basics.filter(f.array_contains(title_basics.genres, 'Short')).limit(5).show()

+---------+---------+--------------------+--------------------+-------+----------+-------+--------------+--------------------+
|   tconst|titleType|        primaryTitle|       originalTitle|isAdult| startYear|endYear|runtimeMinutes|              genres|
+---------+---------+--------------------+--------------------+-------+----------+-------+--------------+--------------------+
|tt0000001|    short|          Carmencita|          Carmencita|   null|1894-01-01|   null|             1|[Documentary, Short]|
|tt0000002|    short|Le clown et ses c...|Le clown et ses c...|   null|1892-01-01|   null|             5|  [Animation, Short]|
|tt0000004|    short|         Un bon bock|         Un bon bock|   null|1892-01-01|   null|            12|  [Animation, Short]|
|tt0000005|    short|    Blacksmith Scene|    Blacksmith Scene|   null|1893-01-01|   null|             1|     [Comedy, Short]|
|tt0000006|    short|   Chinese Opium Den|   Chinese Opium Den|   null|1894-01-01|   null|             1|             [Short]|
+---------+---------+--------------------+--------------------+-------+----------+-------+--------------+--------------------+

Which Documentary title has the most numVotes? <a id='5.3.3'></a>

In [29]:
title_basics.filter(f.array_contains(title_basics.genres, 'Documentary')) \
    .select('tconst', 'primaryTitle') \
    .join(ratings, 'tconst', 'inner') \
    .sort(f.desc('numVotes')) \
    .limit(1) \
    .select('primaryTitle') \
    .collect()[0]['primaryTitle']

'Planet Earth'

Which region is the most common? <a id='5.3.4'></a>

In [9]:
akas.groupBy('region') \
    .count() \
    .sort(f.desc('count')) \
    .collect()[0]['region']

'DE'

Get title with the highest average rating <a id='5.3.5'></a>

In [14]:
ratings.join(title_basics, 'tconst', 'left') \
    .select('tconst', 'originalTitle', 'averageRating') \
    .sort(f.desc('averageRating')) \
    .collect()[0]['originalTitle']

'Die Fee'

Get title with the highest number of episodes <a id='5.3.6'></a>

In [9]:
episode.groupBy('parentTconst') \
    .count() \
    .join(title_basics, episode.parentTconst == title_basics.tconst, 'left') \
    .sort(f.desc('count')) \
    .collect()[0]['originalTitle']

'NRK Nyheter'

Get title of the top 1 TV Series based on the average user ratings and the number of votes they received? <a id='5.3.7'></a>

In [21]:
# Filter only TV Series from title.basics dataset
tv_series_df = title_basics.filter(f.col("titleType") == "tvSeries")

# Join with title.ratings dataset to get ratings and numVotes
tv_series_ratings_df = tv_series_df.join(ratings, "tconst")

# Create window specification to rank TV Series based on averageRating and numVotes
windowSpec = Window.orderBy(f.desc("averageRating"), f.desc("numVotes"))

# Add rank column based on windowSpec
tv_series_ranked_df = tv_series_ratings_df.withColumn("rank", f.rank().over(windowSpec))

# Select the top 10 TV Series
top_10_tv_series = tv_series_ranked_df.filter(f.col("rank") <= 10).select("tconst", "primaryTitle", "averageRating", "numVotes")

# Show the result
top_10_tv_series.collect()[0]['primaryTitle']

'Confessionário Online'

Get title of the top 1 TV Series with the most extended runtime per episode? <a id='5.3.8'></a>

In [22]:
# Filter only TV Series from title.basics dataset
tv_series_df = title_basics.filter(f.col("titleType") == "tvSeries")

# Create a window specification to partition by TV Series and calculate the maximum runtime per episode
windowSpec = Window.partitionBy("tconst")

# Calculate the maximum runtime per episode for each TV Series
tv_series_runtime_df = tv_series_df.withColumn("maxRuntimePerEpisode", f.max("runtimeMinutes").over(windowSpec))

# Create a window specification to rank TV Series based on maxRuntimePerEpisode
windowSpecRank = Window.orderBy(f.desc("maxRuntimePerEpisode"))

# Add rank column based on windowSpecRank
tv_series_ranked_df = tv_series_runtime_df.withColumn("rank", f.rank().over(windowSpecRank))

# Select the top 10 TV Series based on maxRuntimePerEpisode
top_10_tv_series_runtime = tv_series_ranked_df.filter(f.col("rank") <= 10).select("tconst", "primaryTitle", "maxRuntimePerEpisode")

# Show the result
top_10_tv_series_runtime.collect()[0]['primaryTitle']

'The Sharing Circle'